#logo{
	float: left;

}
li{
	float: right;
	list-style-type: none;
	background-color: red;
	padding: 10px;
	border-radius: 20%;
	margin-left: 20px;
}
div{
	display: block;
	max-width: 70%;
	height: auto;
	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
}
/*/*slika mi ije responsivna, a ja ne znam vise zbog cega. da nije mozda rezolucija u pitanju*/
article{
	text-align: center;
	width: 70%;
	display: block;
	border: 1px solid red;
	position: relative;
	margin-top: -100px;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
}
#naglasiti{
	font-size: 20px;
	color: red;
}