#prvi {
	color: #0099FF;
}
#drugi {
	color: #004d80;
}
#treci {
	color: #001f33;
}
#cetvrti {
	color: #ffff00;
}
#peti {
	color: #999900;
}
#sesti {
	color: #333300;
}
h1 {
	background-color: #e6ffff;
	text-decoration: underline;
	text-shadow: 5px 2px 2px blue;
}
h2 {
	text-decoration: line-through;
	text-shadow: 5px 2px 2px yellow;
}
a:hover {
	color: blue;
}